---
---

@import '../_sass/foundation';
@include foundation-everything;

.callout.primary {
  background: url(https://images.unsplash.com/photo-1458724029936-2cc6ee38f5ef?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=853&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100% !important;
  z-index: 0;
  border: none;
  padding: 0px;
  .row.column {
    color: #fff;
    // text-align: center;
    padding:20px;
    height:100%;
    background:rgba(#000, 0.3);
    h1 {
      font-weight: 800;
    }
  }
}

.title-bar {
  background: #333;
}

.off-canvas-wrapper {
  .off-canvas-wrapper-inner {
    min-height: 100vh;
  }
}

.off-canvas-content {
  margin-bottom: 110px;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
  box-shadow: 0 0 10px rgba(10,10,10,0.5);
  background: #333;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      padding: 2px 5px;
    }
    a {
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
  }
  .copyright {
    background: black;
    margin: 0px;
    h6 {
      font-size: 12px;
      color: rgba(255,255,255,.4);
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
.size-48 { 
  font-size: 48px; 
}

.off-canvas {
  background: #fff;
  height: 100vh;
  .thumbnail {
    border: 0px;
  }
  a {
    outline: 0px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color: black;
  }
  a:hover {
    color: #fff;
    background:rgba(#000, 0.3);
  } 
}
