<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
  <div class="row column">
    <br>
    <a href="{{ site.baseurl }}/index.html"><img class="thumbnail" src="{{ site.baseurl }}/img/Me.jpg"></a>
    <!-- <h5>Scott Bobbitt</h5> -->
    <ul class="menu vertical">
    	<li><a href="{{ site.baseurl }}/index.html">About</a></li>
        <li><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
    	<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    	<li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
  </div>
</div>