<!doctype html>
<html class lang="en">
  {% include head.html %}
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {% include header.html %}
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="my-info"></button>
                <span class="title-bar-title">Scott Bobbitt</span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1>Technology should improve your life, not become your life</h1>
              <p class="lead">-Billy Cox</p>
            </div>
          </div>
          {{ content }}
        </div>
        <div id="push"></div>
        <div class="js-off-canvas-exit"></div>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
